:host {
    display: block;
    padding: 20px;
}

.recipe-details {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.recipe-details h2 {
    margin-top: 0;
}

.recipe-details p {
    margin-bottom: 10px;
}

.recipe-details ul,
.recipe-details ol {
    margin-top: 0;
}

.recipe-details li {
    margin-bottom: 5px;
}