<div>
    <h2>Update Recipe</h2>
    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" [(ngModel)]="recipeData.name" [ngModelOptions]="{standalone: true}" required><br>
        <label for="description">Description:</label>
        <textarea id="description" [(ngModel)]="recipeData.description"[ngModelOptions]="{standalone: true}" required></textarea><br>
        <label for="instructions">Instructions:</label>
        <textarea id="instructions" [(ngModel)]="recipeData.instructions" [ngModelOptions]="{standalone: true}" required></textarea><br>
        <button (click)="updateRecipe()" [disabled]="!isValidForm()">Update Recipe</button>
    </form>
</div>