:host {
    display: block;
    padding: 20px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

button:hover {
    background-color: #005f76;
}

.ingredients {
    width: 50%;
    padding: 1em;
    border: solid 1px black;
}

.ingredientInput {
    width: 80% !important;
}

button[disabled] {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
    opacity: 0.7;
}

.instructionTextArea {
    height: 150px;
}