:host {
    display: block;
    padding: 20px;
}

.recipe-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.recipe-card h3 {
    margin-top: 0;
}

.delete-button,
.update-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 5px;
    text-decoration: none;
}

.delete-button:hover,
.update-button:hover {
    background-color: #ff6666;
}

.update-button {
    background-color: #4CAF50;
}

.update-button:hover {
    background-color: #45a049;
}