@if (recipes) {
  <div>
    @for (recipe of recipes; track recipe) {
      <div class="recipe-card">
        <small>Last Modified: {{ recipe.updatedAt | date:'dd-MM-yy hh:mm' }}</small>
        <h3>{{ recipe.name }}</h3>
        <p>{{ recipe.description }}</p>
        @if (recipe.ingredients && recipe.ingredients.length > 0) {
          <div>
            <h4>Ingredients:</h4>
            <ul>
              @for (ingredient of recipe.ingredients; track ingredient) {
                <li class="ingredientRow">
                  <input type="text" [(ngModel)]="ingredient.name" /> - <input type="text"
                  [(ngModel)]="ingredient.quantity" />
                @if (ingredient.name && ingredient.quantity && ingredient._id) {
                  <button (click)="updateIngredient(recipe._id, ingredient)" class="ingredientButton">Update</button>
                }
                @if (ingredient.name && ingredient.quantity && ingredient._id) {
                  <button (click)="removeIngredientFromRecipe(recipe, ingredient._id)" class="ingredientButton">Remove</button>
                }
                @if (addIngredientsVisible && ingredient.name && ingredient.quantity && !ingredient._id) {
                  <button (click)="addIngredients(recipe, ingredient)" class="blue-button ingredientButton">Save</button>
                  }<br>
                </li>
              }
            </ul>
          </div>
        }
        @if (addEmptyIngredientsVisible) {
          <button (click)="addEmptyIngredient(recipe)" class="blue-button">Add Another Ingredient</button>
          }<br>
          <hr>
            @if (recipe.instructions && recipe.instructions !== '') {
              <div>
                <h3>Instructions:</h3>
                <p>{{ recipe.instructions }}</p>
              </div>
            }
            <button class="delete-button" (click)="deleteRecipe(recipe._id)">Delete</button>
            <a routerLink="/recipes/{{recipe._id}}/update" class="update-button">Update</a>
          </div>
        }
        <div class="pagination">
          <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
          <span class="pages">{{ currentPage }} / {{ totalPages }}</span>
          <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        </div>
      </div>
    }

    @if (!recipes) {
      <div>
        <p>No recipes to show</p>
      </div>
    }