<div *ngIf="recipes">
    <div *ngFor="let recipe of recipes" class="recipe-card">
        <h3>{{ recipe.name }}</h3>
        <p>{{ recipe.description }}</p>

        <div *ngIf="recipe.ingredients && recipe.ingredients.length > 0">
            <h4>Ingredients:</h4>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients" class="ingredientRow">
                    <input type="text" [(ngModel)]="ingredient.name" /> - <input type="text"
                        [(ngModel)]="ingredient.quantity" />
                    <button *ngIf="ingredient.name && ingredient.quantity && ingredient._id" (click)="updateIngredient(recipe._id, ingredient)" class="ingredientButton">Update</button>
                    <button *ngIf="ingredient.name && ingredient.quantity && ingredient._id" (click)="removeIngredientFromRecipe(recipe, ingredient._id)" class="ingredientButton">Remove</button>
                    <button *ngIf="addIngredientsVisible && ingredient.name && ingredient.quantity && !ingredient._id" (click)="addIngredients(recipe, ingredient)" class="blue-button ingredientButton">Save</button><br>
                </li>
            </ul>
        </div>
        <button *ngIf="addEmptyIngredientsVisible" (click)="addEmptyIngredient(recipe)" class="blue-button">Add Another Ingredient</button><br>
        <hr>
        <div *ngIf="recipe.instructions && recipe.instructions !== ''">
            <h3>Instructions:</h3>
            <p>{{ recipe.instructions }}</p>
        </div>

        <button class="delete-button" (click)="deleteRecipe(recipe._id)">Delete</button>
        <a routerLink="/recipes/{{recipe._id}}/update" class="update-button">Update</a>

        <div class="pagination">
            <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
            <span>{{ currentPage }} / {{ totalPages }}</span>
            <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        </div>
    </div>
</div>